* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #212121;
  font-family: 'Helvetica', sans-serif;
  letter-spacing: -1px;
  color: #ffffff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 20px;
}

.button {
  width: 344px;
  height: 69px;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  background-color: #da2187;
  color: #000000;
  outline: 0;
  text-decoration: none;
  display: block;
  border-radius: 15px;
  border: 0;
  cursor: pointer;
  font-size: 24px;
}

.button:hover {
  background-color: #f33996;
}

.button.white-button {
  background-color: #ffffff;
}

.button.white-button:hover {
  background-color: #f33996;
}

.main {
  overflow: hidden;
  position: relative;
}

.black-block {
  position: absolute;
  width: 477px;
  height: 910px;
  top: 0;
  background-color: #000000;
  z-index: -2;
  right: calc(50% - 780px);
}

.header {
  padding: 46px 0;
}

.header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 65px;
}

.logo img {
  max-width: 500px;
  vertical-align: bottom;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 65px;
  flex-wrap: wrap;
  justify-content: right;
  
}

.menu ul a {
  font-size: 16px;
  color: #da2187;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: normal;
}

.menu ul a:hover {
  color: #f33996;
}

.main-content {
  padding-top: 80px;
  padding-bottom: 190px;
}

.main-content .container {
  position: relative;
}

.main-info {
  max-width: 755px;
}

.main-info h1 {
  font-size: 80px;
  line-height: 100%;
  margin-bottom: 40px;
  font-weight: normal;
}

.main-info p {
  font-size: 24px;
  line-height: 120%;
  color: #d4d4d4;
  max-width: 450px;
  margin-bottom: 60px;
}

.main-image {
  position: absolute;
  top: 0px;
  right: -550px;
  z-index: -1;
}

.cars {
  background-color: #000000;
  padding: 130px 0;
}

.cars h2 {
  font-size: 65px;
  font-weight: normal;
}

.cars-content {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-top: 60px;
}

.cars-filter {
  /* margin-right: 77px; */
  align-self: flex-start;
  position: sticky;
  top: 20px;
}

.cars-filter ul {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  list-style: none;
}

.cars-filter ul li {
  width: 127px;
  padding: 16px;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 15px;
  font-size: 16px;
  color: #ffffff;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
}

.cars-filter ul li.active,
.cars-filter ul li:hover {
  color: #f33996;
  border-color: #f33996;
}

.cars-items {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.car {
  background-color: #212121;
  padding: 20px;
  display: flex;
}

.car img {
  max-width: 568px;
}

.car-details {
  margin-left: 24px;
  display: flex;
  flex-direction: column;
}

.car-details h4 {
  font-size: 30px;
  line-height: 120%;
  margin-bottom: 20px;
}

.car-details p {
  font-size: 16px;
  line-height: 120%;
  letter-spacing: normal;
  color: #d4d4d4;
  height: 100px;
}

.car-action {
  margin-top: auto;
}

.car-action ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.car-period {
  font-size: 16px;
  line-height: 120%;
  color: #d4d4d4;
  margin-bottom: 5px;
}

.car-price {
  font-size: 24px;
  line-height: 120%;
}

.car-price span {
  font-size: 16px;
  line-height: 120%;
  color: #d4d4d4;
}

.car-action .button {
  width: 100%;
}

.order {
  padding-top: 159px;
  padding-bottom: 130px;
}

.order .container {
  position: relative;
  display: flex;
  justify-content: right;
}

.order img {
  position: absolute;
  top: -100px;
  left: -650px;
}

.order form {
  /* margin-left: 714px; */
  max-width: 468px;
}

.order h3 {
  font-weight: normal;
  font-size: 65px;
  line-height: 100%;
  margin-bottom: 40px;
}

.order p {
  font-size: 24px;
  line-height: 120%;
  color: #d4d4d4;
  margin-bottom: 60px;
  max-width: 455px;
}

.order-form {
  width: 344px;
}

::placeholder {
  color: #d4d4d4;
}

.order-form input {
  width: 100%;
  height: 68px;
  padding: 24px 20px;
  box-sizing: border-box;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 15px;
  background-color: transparent;
  margin-bottom: 15px;
  font-size: 16px;
  outline: none;
}

.footer {
  padding: 47px 0;
  border-top: 1px solid #5f5f5f;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rights {
  font-size: 14px;
  line-height: 90%;
  letter-spacing: normal;
  font-weight: bold;
  text-transform: uppercase;
}


@media (max-width: 1150px) {
  .menu ul {
    gap: 20px;
  }

  .main-image {
  top: 50px;
  right: -650px;
  }

  .car {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .cars-content {
    justify-content: space-around;
    gap: 0;
  }
  .car-details {
    margin-left: 0;
  }

  .car-details h4 {
    text-align: center;
  }

  .car-details p {
    height: 50px;
    max-width: 550px;
}

.order img {
  top: -100px;
  left: -750px;
}

}

@media (max-width: 900px) {
  
  .main-image {
  top: 75px;
  right: -750px;
  
}

  .black-block {
    display: none;
  }

  .cars-content {
  flex-direction: column;
  align-items: start;
  }

  .cars-filter {
    margin-bottom: 100px;
    display: flex;
    position: static;
    top: 20px;
  }
    .cars-filter ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20px;
      list-style: none;
  }

  .order img {
  top: -100px;
  left: -870px;
}
}

@media (max-width: 750px) {
  
  
  .header .container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
  }

  .order img {
  display: none;
}

.order .container {
   justify-content: center;
}
}

@media (max-width: 650px) {

  .car img {
  max-width: 400px;
}
  
.logo img {
  max-width: 300px;
  
}

.main-info h1 {
  font-size: 36px;
}

.cars .container h2,
.order .container form h3 {
  font-size: 28px;
}

.menu ul {
   
  flex-wrap: wrap;
  justify-content: center;
  
}

  .cars-filter {
    margin-bottom: 50px;
    top: 20px;
  }

  .button {
    max-width: 300px;
  }

  .order-form input {
    max-width: 300px;
  }
 
  .order .container p {
    max-width: 250px;
  }

 
  .main-content {
      padding-top: 80px;
      padding-bottom: 280px;
  }

}

@media (max-width: 475px) {

  .car img {
  max-width: 300px;
}
}